## Python_Basic_Assignment_20

<b>1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.</b><br><br>Answer:<br>

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as f:
    f.write(test1)

<b>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?</b><br><br>Answer:<br>
No, there is no difference between test1 and test2.

In [2]:
with open("test.txt", "r") as f:
    test2 = f.read()

test2

'This is a test of the emergency text system'

<b>3. Create a CSV file called books.csv by using these lines:<br>title,author,year<br>The Weirdstone of Brisingamen,Alan Garner,1960<br>Perdido Street Station,China Miéville,2000<br>Thud!,Terry Pratchett,2005<br>The Spellman Files,Lisa Lutz,2007<br>Small Gods,Terry Pratchett,1992</b><br><br>Answer:<br>

In [3]:
import csv

data = """title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

data = data.split('\n')
#title = data[0].split(',')
values = []
for d in data:
    values.append(d.split(','))

print(values)
with open('books.csv','w',newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerows(values)

[['title', 'author', 'year'], ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'], ['Perdido Street Station', 'China Miéville', '2000'], ['Thud!', 'Terry Pratchett', '2005'], ['The Spellman Files', 'Lisa Lutz', '2007'], ['Small Gods', 'Terry Pratchett', '1992']]

<b>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).</b><br><br>Answer:<br>

In [4]:
import sqlite3

try:
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    query = 'CREATE TABLE books(title TEXT,  author TEXT,  year INTEGER)'
    cursor.execute(query)
    
except sqlite3.Error as e:
    print(e)
finally:
    if(conn):
        conn.close()

<b>5. Read books.csv and insert its data into the book table.</b><br><br>Answer:<br>

In [5]:
import sqlite3
import csv

rows = []
try:
    with open('books.csv', 'r') as csvfile:
        # creating a csv reader object
        csvreader = csv.reader(csvfile)

        # extracting field names through first row
        fields = next(csvreader)

        # extracting each data row one by one
        for row in csvreader:
            rows.append(row)
  
        # get total number of rows
        print("Total no. of rows: %d"%(csvreader.line_num))
        
    print(fields)
    print(rows)
    
    conn = sqlite3.connect('books.db')
    cursor = conn.cursor()
    for row in rows:
        #print('row: ', row)
        query = 'INSERT INTO books(title,author,year) VALUES("{}","{}",{})'.format(row[0], row[1], row[2])
        print("query ", query)
        cursor.execute(query)

    conn.commit()
    
except Exception as e:
    print("Error: ",e.with_traceback())
finally:
    if(conn):
        cursor.close()
        conn.close()

Total no. of rows: 6
['title', 'author', 'year']
[['The Weirdstone of Brisingamen', 'Alan Garner', '1960'], ['Perdido Street Station', 'China Miéville', '2000'], ['Thud!', 'Terry Pratchett', '2005'], ['The Spellman Files', 'Lisa Lutz', '2007'], ['Small Gods', 'Terry Pratchett', '1992']]
query  INSERT INTO books(title,author,year) VALUES("The Weirdstone of Brisingamen","Alan Garner",1960)
query  INSERT INTO books(title,author,year) VALUES("Perdido Street Station","China Miéville",2000)
query  INSERT INTO books(title,author,year) VALUES("Thud!","Terry Pratchett",2005)
query  INSERT INTO books(title,author,year) VALUES("The Spellman Files","Lisa Lutz",2007)
query  INSERT INTO books(title,author,year) VALUES("Small Gods","Terry Pratchett",1992)

<b>6. Select and print the title column from the book table in alphabetical order.</b><br><br>Answer:<br>

In [6]:
import sqlite3
try:
    conn = sqlite3.connect('books.db')
    #cur = conn.cursor()
    query = 'select title from books ORDER BY title ASC'
    #cur.execute(query)
    cursor = conn.execute(query)
    
    for i in cursor:
        print(i)
except Exception as e:
    print("Error: "+ e.with_traceback())
finally:
    if(conn):
        conn.close()

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

<b>7. From the book table, select and print all columns in the order of publication.</b><br><br>Answer:<br>

In [7]:
import sqlite3
try:
    conn = sqlite3.connect('books.db')
    cursor = conn.execute('select * from books order by year asc')
    for i in cursor:
        print(i)
except Exception as e:
    print('Error: ', e.with_traceback())
finally:
    if(conn):
        conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

<b>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.</b><br><br>Answer:<br>

In [8]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
try:
    engine = create_engine('sqlite:///books.db', echo = True)
    meta = MetaData()
    books = Table(
       'books', meta, 
       Column('title', String, primary_key = True), 
       Column('author', String), 
       Column('year', Integer), 
    )

    s = books.select()
    conn = engine.connect()
    result = conn.execute(s)

    print("Rows:")
    for i in result:
        print(i)
except Exception as e:
    print("Error: "+ e.with_traceback())
finally:
    if(conn):
        conn.close()

2022-02-01 17:16:43,914 INFO sqlalchemy.engine.Engine SELECT books.title, books.author, books.year
FROM books
2022-02-01 17:16:43,914 INFO sqlalchemy.engine.Engine [generated in 0.00146s] ()
Rows:
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

<b>9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.</b><br><br>Answer:<br>

In [12]:
import redis
r = redis.Redis()
test = {'count':1, 'name': 'Fester Bestertester'}
r.mset(test)
r.keys()

[b'count', b'name']

<b>10. Increment the count field of test and print it.</b><br><br>Answer:<br>

In [13]:
c = r.get('count').decode('utf-8')
c

'1'

In [14]:
r.set('count', int(c)+1)
r.get('count').decode('utf-8')

'2'